In [1]:
import numpy as np
import pandas as pd
import os

# Get all files in directory

In [17]:
FLOOD_2015_PATH = 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\'

file_list = []
file_list_krig = []

for file in os.listdir(FLOOD_2015_PATH):
    if not file.endswith(".csv"):
        continue
    
    if file.startswith('Table_'):
        file_list_krig.append(os.path.join(FLOOD_2015_PATH, file))
    else:
        file_list.append(os.path.join(FLOOD_2015_PATH, file))
        
file_list

['D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Apr 27, 2015 0200 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Aug 09, 2015 0240 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Aug 17, 2015 0900 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Aug 21, 2015 0430 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Aug 21, 2015 0440 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Aug 21, 2015 0500 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Aug 23, 2015 0500 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Aug 24, 2015 1000 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Feb 13, 2015 0900 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Jul 05, 2015 0400 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Jul 09, 2015 0240 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Jul 09, 2015 0800 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Jul 12, 2015 1100 AM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Jul 29, 2015 0300 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Jun 02, 2015 1200 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Jun 16, 2015 0300 AM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\May 05, 2015 1000 AM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Nov 05, 2015 0200 AM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Nov 05, 2015 0215 AM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Nov 24, 2015 0600 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 09, 2015 0300 AM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 11, 2015 0200 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 11, 2015 0900 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 18, 2015 0700 AM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 18, 2015 1100 AM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 19, 2015 0300 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 19, 2015 1200 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 20, 2015 1200 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Oct 22, 2015 1200 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Sep 08, 2015 0100 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Sep 08, 2015 0900 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Sep 08, 2015 1100 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Sep 09, 2015 0500 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Sep 22, 2015 0900 PM.csv',
 'D:\\Gelo103097\\DLSU\\THESIS\\data\\Sliced Flood\\2015\\Sep 30, 2015 1100 AM.csv']

## Compile no kriging data

In [39]:
# Column names
COL_HEIGHT = 'flood_height'
COL_DATETIME = 'flood_time'
COL_LAT = 'lat'
COL_LNG = 'lng'

COL_IMGURL = 'image_url'
COL_DETAILS = 'details'

In [109]:
# Merge flood CSVs to one list
temp_list = []
for file_path in file_list:
    df = pd.read_csv(file_path, skipinitialspace=True)
    
    temp_list.append(df)
    
df_compiled = pd.concat(temp_list)

# Remove unused columns
df_compiled.drop([COL_IMGURL, COL_DETAILS], axis=1,  inplace=True)

len(df_compiled)

65

## Compile kriging data

In [110]:
# Merge flood CSVs to one list
temp_list = []

for file_path in file_list_krig:
    df = pd.read_csv(file_path, skipinitialspace=True)
    
    # Remove last column
    df = df.iloc[:, :-1]
    
    # Add datetime as second column
    datetime = file_path.rsplit('\\', 1)[1][:-4][6:]
    df.insert(loc=1, column=COL_DATETIME, value=datetime)
    
    # Update column names
    df.columns = df_compiled.columns
    
    temp_list.append(df)
    
# df_compiled = pd.DataFrame()    
df_compiled = df_compiled.append(temp_list, ignore_index=True)

len(df_compiled)

430028

In [111]:
# Convert flood_time to datetime
df_compiled[COL_DATETIME] = pd.to_datetime(df_compiled[COL_DATETIME])

# Sort by flood_time
df_compiled.sort_values(by=COL_DATETIME, inplace=True)

df_compiled

        flood_height          flood_time        lat         lng
12                 0 2015-02-13 21:00:00  14.876906  120.984205
0                  0 2015-04-27 14:00:00  14.756140  121.037394
28                 0 2015-05-05 10:00:00   7.162840  125.569877
27                 0 2015-05-05 10:00:00   7.160072  125.572945
26                 0 2015-05-05 10:00:00   7.160125  125.572956
24                 0 2015-06-02 12:00:00  13.218210  121.102438
23                 0 2015-06-02 12:00:00  13.218043  121.102717
25                 0 2015-06-16 03:00:00  14.543954  121.050534
13                 2 2015-07-05 16:00:00  14.719798  120.969386
15                 2 2015-07-05 16:00:00  14.720031  120.968555
14                 2 2015-07-05 16:00:00  14.722080  120.969172
16                 1 2015-07-09 14:40:00  14.405829  120.907879
17                 2 2015-07-09 20:00:00  14.635925  120.982299
19                 0 2015-07-12 11:00:00  14.702135  120.948374
18                 0 2015-07-12 11:00:00  14.701716  120.948511
21                 0 2015-07-12 11:00:00  14.702256  120.950203
20                 0 2015-07-12 11:00:00  14.702402  120.949423
22                 1 2015-07-29 15:00:00  14.589592  121.099222
1                  1 2015-08-09 14:40:00  14.406341  120.905932
3                  0 2015-08-17 21:00:00   8.484076  124.659940
2                  0 2015-08-17 21:00:00   8.483200  124.654999
4                  2 2015-08-21 16:30:00  14.405824  120.907889
5                  2 2015-08-21 16:40:00  14.405613  120.908079
7                  2 2015-08-21 16:40:00  14.405868  120.907036
6                  2 2015-08-21 16:40:00  14.405728  120.907473
8                  2 2015-08-21 17:00:00  14.408720  120.904450
9                  0 2015-08-23 17:00:00  11.942860  120.036636
10                 2 2015-08-24 22:00:00  14.406206  120.910877
11                 0 2015-08-24 22:00:00  14.406460  120.910914
286692             3 2015-09-08 13:00:00  11.643154  122.926474
...              ...                 ...        ...         ...
100464             2 2015-10-19 07:30:00  17.611767  121.730534
100463             2 2015-10-19 07:30:00  17.611740  121.730534
100467             2 2015-10-19 07:30:00  17.611850  121.730534
100461             2 2015-10-19 07:30:00  17.611685  121.730534
100460             2 2015-10-19 07:30:00  17.611657  121.730534
100459             2 2015-10-19 07:30:00  17.611629  121.730534
100458             2 2015-10-19 07:30:00  17.611602  121.730534
100457             2 2015-10-19 07:30:00  17.611574  121.730534
100456             2 2015-10-19 07:30:00  17.611546  121.730534
100455             2 2015-10-19 07:30:00  17.611519  121.730534
100462             2 2015-10-19 07:30:00  17.611712  121.730534
52                 3 2015-10-19 12:00:00  17.621124  121.723459
51                 0 2015-10-19 15:00:00  17.343996  121.747836
50                 2 2015-10-19 15:00:00  17.343111  121.748506
53                 0 2015-10-20 12:00:00  17.342603  121.750733
54                 6 2015-10-22 12:00:00  14.918207  120.778311
30                 0 2015-11-05 02:00:00  13.946163  120.668172
29                 0 2015-11-05 02:00:00  13.971449  121.123388
31                 0 2015-11-05 02:15:00  13.946174  120.667802
42                 0 2015-11-24 18:00:00  14.609354  120.987030
39                 0 2015-11-24 18:00:00  14.600473  120.991037
38                 0 2015-11-24 18:00:00  14.601573  120.992754
37                 0 2015-11-24 18:00:00  14.600597  120.996187
36                 0 2015-11-24 18:00:00  14.601147  120.999384
35                 0 2015-11-24 18:00:00  14.602845  121.015950
34                 0 2015-11-24 18:00:00  14.604418  121.017355
33                 0 2015-11-24 18:00:00  14.617634  121.001627
32                 0 2015-11-24 18:00:00  14.623593  120.989128
41                 0 2015-11-24 18:00:00  14.609894  120.986258
40                 0 2015-11-24 18:00:00  14.603079  120.985094

[430028 rows x 4 columns]

## Save as CSV for easy loading

In [116]:
df_compiled.to_csv('flood_compiled_2015.csv', index=False)